@model IEnumerable<Songify_FullStack.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Artists</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 p-2">
            <a href="@Url.Action("Details", "Artist", new{id = item.Id})" class="text-decoration-none">
                <div class="card" style="height: 195px; width: 295px; margin-bottom: 8px">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="card-title text-xl-center" style="color: black;">@item.Name</h2>
                        <p class="text-xl-center" style="color: black;">Albums: @item.SongContributors.Select(sc => sc.Song.Album).Distinct().Count()</p>
                    </div>
                </div>
                <style>
                    .card:hover {
                        background-color: #fbfbfb;
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
                        transform: translateY(-2px);
                    }
                </style>
            </a>
        </div>
    }
</div>
